extends layout

block head
    link(rel="stylesheet", href="/stylesheets/zhuoyue.css")

block content
    .main-container
        .top-bar
            .container
                .center-block
                    .logo.pull-left
                    .nav
                        ul
                            li
                                a(href="#") 首页
                            li
                                a(href="#") 公司简介

















