extends layout

block head
    link(rel="stylesheet", href="/stylesheets/zhuoyue.css")

block content
    .main-container
        .top-bar
            .content-width
                .logo.pull-left 中港众合投资
                .nav
                    ul
                        li
                            a(href="")

















